body {
  background-color: rgb(150, 130, 238);
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  margin-top: 50px;
}

.team {
  display: inline-block;
  margin: 30px;
}

.score-box {
  background-color: black;
  color: white;
  font-size: 40px;
  width: 100px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: red;
  color: black;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.reset-area {
  margin-top: 30px;
}
